# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
/media/
*.egg-info/
*.egg

# Environment
.env
venv/
venv.bak/
env/
env.bak/
*.env

# IDEs e Editor
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Outros
/staticfiles/
