{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuários</title>
    {% tailwind_css %}
</head>
<body class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="w-full max-w-md p-8 bg-white rounded-lg shadow-md">
        <h2 class="mb-6 text-2xl font-semibold text-center text-gray-800">Registro de Usuário</h2>
        <form method="POST" class="space-y-4">
            {% csrf_token %}
            {% if messages %}
                <ul class="mb-4">
                    {% for message in messages %}
                        <li class="p-2 mb-2 rounded {{ message.tags|default:'bg-red-500 text-white' }}">
                            {{ message }}
                            teste
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <!-- Campo Email -->
            <div>
                <label for="{{ form.email.id_for_label }}" class="block text-sm font-medium text-gray-700">Email</label>
                <input type="email" name="email" id="{{ form.email.id_for_label }}"
                       class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-blue-300"
                       value="{{ form.email.value|default_if_none:'' }}">
                {% if form.email.errors %}
                    <p class="text-sm mt-1">{{ form.email.errors }}</p>
                {% endif %}
            </div>

            <!-- Campo Do usuario -->
            <div>
                <label for="{{ form.username.id_for_label }}" class="block text-sm font-medium text-gray-700">Usuário</label>
                <input type="text" name="username" id="{{ form.username.id_for_label }}"
                       class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-blue-300"
                       value="{{ form.username.value|default_if_none:'' }}">
                {% if form.username.errors %}
                    <p class="text-sm mt-1">{{ form.username.errors }}</p>
                {% endif %}
            </div>

            <!-- Campo Telefone -->
            <div>
                <label for="{{ form.phone.id_for_label }}" class="block text-sm font-medium text-gray-700">Telefone</label>
                <input type="tel" name="phone" id="{{ form.phone.id_for_label }}"
                       class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-blue-300"
                       value="{{ form.phone.value|default_if_none:'' }}">
                {% if form.phone.errors %}
                    <p class="text-sm mt-1">{{ form.phone.errors }}</p>
                {% endif %}
            </div>

            <!-- Campo Senha -->
            <div>
                <label for="{{ form.password.id_for_label }}" class="block text-sm font-medium text-gray-700">Senha</label>
                <input type="password" name="password" id="{{ form.password.id_for_label }}"
                       class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-blue-300">
                {% if form.password.errors %}
                    <p class="text-sm mt-1">{{ form.password.errors }}</p>
                {% endif %}
            </div>

            <button type="submit"
                    class="w-full px-4 py-2 mt-4 text-white bg-blue-500 rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300">
                Registrar
            </button>
        </form>
    </div>
</body>
</html>
